{% extends "base.html" %}
{% block title %}Cooking blog | by DeveloperMan{% endblock title %}

{% block content %}
<style>
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .background-image {
    background-image: url('static/images/baby-boss-cake.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /* Send the background behind the content */
  }

  .content-container {
    z-index: 1; /* Ensure the content is above the background image */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 20px;
    border-radius: 10px;
  }

  /* New styles for text color */
  .content-container h1,
  .content-container h2,
  .content-container h3,
  .content-container p {
    color: white;
  }
</style>

<div class="background-image"></div> <!-- Background image div -->

<div class="content-container w-full h-full px-4 md:px-6 text-xl text-gray-800 leading-normal">
  <h1 class="text-center text-3xl">Blog about things your baby should eat, but you shouldn't</h1>
  <h3 class="text-center text-lg mt-2 text-gray-600">Description</h3>
  {% for fm in posts %}
  <a class="mb-3" href="/posts/{{fm.file_name}}">
    <div class="flex flex-col mb-5 px-4 py-6 cursor-pointer">
      <h2 class="text-2xl font-semibold hover:underline">{{fm.title}}</h2>
      <div class="flex items-center mt-2">
        <p class="hidden md:block text-base ml-2 mr-2">{{fm.posted}}</p>
        <p class="hidden md:block text-base mx-2">{{fm.author}}</p>
        <p class="text-base ml-0 md:ml-2">Reading time: {{fm.estimated_reading_time}} min</p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock content %}
